@import './base.css';

body {
  background: palegoldenrod;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  min-height: 100vh;

  font-weight: normal;
  background-color: bisque;
}

a {
  text-decoration: none;
  color: yellow;
  transition: all 0.4s;
  text-shadow: 1px 1px 1px black;
}

@media (hover: hover) {
  a:hover {
    color: sandybrown;
    /*text-shadow: 0 0 15px sandybrown;*/
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    flex-direction: column;
    place-items: center;
  }

  #app {
    /*display: grid;*/
    /*grid-template-columns: 1fr 1fr;*/
    padding: 0 2rem;
  }
}
  /* enter transitions */
  .toast-enter-active {
    animation: wobble 0.5s ease;
  }
  /* leave transitions */
  .toast-leave-to {
    opacity: 0;
    transform: translateY(-60px);
  }
  .toast-leave-active {
    transition: all 0.3s ease;
  }

  @keyframes wobble {
    0% { transform: translateY(-100px); opacity: 0 }
    50% { transform: translateY(0px); opacity: 1 }
    60% { transform: translateX(8px); opacity: 1 }
    70% { transform: translateX(-8px); opacity: 1 }
    80% { transform: translateX(4px); opacity: 1 }
    90% { transform: translateX(-4px); opacity: 1 }
    100% { transform: translateX(0px); opacity: 1 }
  }
