@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
  background-color: bisque;
}

a {
  text-decoration: none;
  color: yellow;
  transition: all 0.4s;
  text-shadow: 1px 1px 1px black;
}

@media (hover: hover) {
  a:hover {
    color: sandybrown;
    /*text-shadow: 0 0 15px sandybrown;*/
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
